<div class="panel-center" style='width: 400px; float: none; margin: 0 auto;'>
	<div class="panel panel-success" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen;margin: 1cm 1cm 1cm 1cm;">
				<div class="panel-heading" style='background-image: url(<%= asset_path 'add_panel.jpg' %>); background-size: cover; background-repeat: no-repeat; border-bottom: 1px solid darkblue;'>
			<center><h3> <font color='white'>Message</font> </h3></center>
		</div>
		<div class="panel-body" align='center'>
			<h4><b>Sender:</b></h4>
			<h4><%= link_to @sender.username, users_profile_path(:id => @sender.id) %></h4><br>

			<h4><b>Recipient:</b></h4>
			<h4><%= link_to @recipient.username, users_profile_path(:id => @recipient.id) %></h4><br>

			<h4><b>Subject:</b></h4>
			<h4><%= @message.subject %></h4></br>

			<h4><b>Content:</b></h4>
			<h4><%= @message.content %></h4></br>
		</div>
		<center><h5><%= button_to 'Reply', messages_reply_path(:id => @message.id), :class => 'ourButton' %></h5></center>
	</div>
</div>