<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid lightgrey;">
	<div class="panel-heading">
		<center><h3> Note information </h3>
      <% if current_page?(controller: 'dashboards', action: 'index')%>
        <%= link_to '(view all notes)',{ :controller => 'notes', :action => 'index'} %></center>
      <% end %>
      <% if current_page?(controller: 'dashboards', action: 'index') && @current_user.role == 'Manager'%>
      <div class='row'>
          <%= button_to new_note_path, :class => 'btn btn-md btn-success pull-right' do%>
            <i class="glyphicon glyphicon-plus">Add</i>
          <% end %>
      </div>  
      <% end %>
	</div>
  <font aling='right'>
	<table class='table table-striped'>
      <thead>  
        <tr>
          <th>Type</th>
          <th>Text</th>
          <% if @current_user.role == 'Manager' %>
            <th>Visibility</th>
          <% end %>
        </tr>
      </thead>
      <% @label = '' %>
      <tbody>
        <% @notes.each do |note| %>
          <% if @label != note.visibility.split('-')[0] %>
          <thead class="thead-default">
    		    <tr>
    		      <th><%= note.visibility.split('-')[0].titleize %>
              		<% @label = note.visibility.split('-')[0] %></th>
    		    </tr>
    		  </thead>
          <% end %>

          <tr>
            <td><%= note.visibility.split('-')[0] %></td>
            <td><%= note.text %></td>
            <td><%= link_to 'Show', note_path(note) %>
            <% if @current_user.role == 'Manager' %>
              | 
              <%= link_to 'Edit', edit_note_path(note) %> |
              <%= link_to 'Destroy', note_path(note),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </font>
	
</div>
