<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid lightgrey;">
	<div class="panel-heading">
		<center><h3> Task information </h3>
      <% if current_page?(controller: 'dashboards', action: 'index')%>
        <%= link_to '(view all tasks)',{ :controller => 'tasks', :action => 'index'} %></center>
      <% end %>
      <% if current_page?(controller: 'dashboards', action: 'index') && @current_user.role == 'Manager'%>
      <div class='row'>
        <div class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><i class="glyphicon glyphicon-plus"></i>Add new task to project<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <% @projects.each do |project| %>
                  <li><%= link_to project.title, :controller => 'tasks', :action => 'add_task', :id => project.id %></li>
                <% end %>
            </ul>
        </div>
      </div>  
      <% end %>
	</div>
	<table class="table table-striped">
      <thead>  
        <tr>
          <th>Title</th>
          <th>Requirement</th>
          <th>Assigned User</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <% @label = '' %>
      <tbody>
        <% @tasks.each do |task| %>
          <% if @label != task.status %>
          <thead class="thead-default">
    		    <tr>
    		      <th><%= task.status %>
              		<% @label = task.status %></th>
    		    </tr>
    		  </thead>
          <% end %>

          <tr>
            <td><%= task.title %></td>
            <td><%= task.requirement %></td>
            <td><%= task.assigned_user %></td>
            <td><%= task.task_type %></td>
            <td><%= task.status %></td>
            
            <% if @current_user.role == 'Manager' %>
			<td><h5 class='pull-right'><%= link_to 'Destroy Task', [task.project, task],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %></h5></td>
			<% end %>
			
            <% if @current_user.role != "Client" && @current_user.id == task.assigned_user%>
      			<td><div class="row pull-right">
      				<div class="col-md-4" >
      					<%= button_to tasks_start_task_path(:task => task), {:class => 'btn btn-md btn-success', :disabled => task.status == 'Started' || task.status == 'Finished'} do%>
      					<i class="glyphicon glyphicon-play"></i>
      					<% end %>
      				</div>

      				<div class="col-md-4" >
      					<%= button_to tasks_pause_task_path(:task => task), {:class => 'btn btn-md btn-warning', :disabled => task.status == "Paused" || task.status == 'Finished' || task.status == 'Not-started'} do%>
      					<i class="glyphicon glyphicon-pause"></i>
      					<% end %>
      				</div>

      				<div class="col-md-4" >
      					<%= button_to tasks_finish_task_path(:task => task), {:class => 'btn btn-md btn-danger',  :disabled => task.status == 'Finished' || task.status == 'Not-started'} do%>
      					<i class="glyphicon glyphicon-stop"></i>
      					<% end %>
      				</div>
      			</div>
      		</td>
      		<% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
	
</div>
