<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid lightgrey;">
  <div class="panel-heading">
    <center><h3> Task information </h3>
      <% if current_page?(controller: 'dashboards', action: 'index')%>
        <%= link_to '(view all tasks)',{ :controller => 'tasks', :action => 'index'} %></center>
      <% end %>
      <% if current_page?(controller: 'dashboards', action: 'index') && @current_user.role == 'Manager'%>
      <div class='row'>
        <div class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><i class="glyphicon glyphicon-plus"></i>Add new task to project<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <% @projects.each do |project| %>
                  <li><%= link_to project.title, :controller => 'tasks', :action => 'add_task', :id => project.id %></li>
                <% end %>
            </ul>
        </div>
      </div>  
      <% end %>
      <% if current_page?(controller: 'tasks', action: 'index') %>
        <div class='row'>
          <div class='col-xs-2'>
            <%= form_tag :action => 'search' do%>
              <div class="input-group">
                <%= text_field_tag 'search', nil, placeholder: 'Search term...' %>
  
                <span class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn btn-default") do %>
                      <i class="glyphicon glyphicon-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  
   <div class='table-responsive' style=<% if current_page?(:controller => 'dashboards', :action => 'index') %>
      'height: 400px; margin-bottom: 15px; overflow-y: auto; '
    <% else %>
      'height: 500px; margin-bottom: 15px; overflow-y: auto;'
    <% end %>>
    <table class="table table-striped">
      <thead>  
        <tr bgcolor="#55b25d">
          <th class="text-center">Title</th>
          <% if current_page?(controller: 'tasks', action: 'index')%>
            <th class="text-center">Requirement</th>
          <% end %>
          <th class="text-center">Client</th>
          <th class="text-center">Project</th>
          <th class="text-center">Assigned User</th>
          <th class="text-center">Type</th>
          <th class="text-center">Duration</th>
          <th class="text-center">Status</th>
          <% if current_page?(controller: 'tasks', action: 'index')%>
            <th class="text-center">Last Update</th>
          <% end %>
          <% if @current_user.role != 'Client' %>
            <th></th>
          <% end %>
          <% if @current_user.role == 'Admin' || @current_user.role == 'Employee' %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <% @label = '' %>
      <tbody style=<% if current_page?(:controller => 'dashboards', :action => 'index') %>
            'height: 362px;'
          <% else %>
            'height: 442px;'
          <% end %>>
         <% @tasks.each do |task| %>
            <% if @label != task.status %>
            <tr>
              <th><%= task.status %>
                  <% @label = task.status %></th>
            </tr>
            <% end %>

            <tr class=<% if @label == 'Started' %>"success"<%end%>
                      <% if @label == 'Paused' %>"warning"<%end%>
                      <% if @label == 'Finished' %>"danger"<%end%>
                      <% if @label == 'Not-tarted' %>"info"<%end%>>
              <td class="text-center" style="word-wrap: break-word;min-width: 110px;max-width: 110px;"><%= task.title %></td>
              <% if current_page?(controller: 'tasks', action: 'index')%>
                <td class="text-center" style="word-wrap: break-word;min-width: 50%;max-width: 50%;"><%= task.requirement %></td>
              <% end %>
              <td class="text-center" style="word-wrap: break-word;min-width: 70px;max-width: 70px;"><%= @task_infos[task.id]['client_name'] %></td>
              <td class="text-center" style="word-wrap: break-word;min-width: 70px;max-width: 70px;"><%= @task_infos[task.id]['project_name'] %></td>
              <td class="text-center" style="word-wrap: break-word;min-width: 110px;max-width: 110px;"><%= @task_infos[task.id]['assigned'] %></td>
              <td class="text-center"><%= task.task_type %></td>
              <td class="text-center"><%= @task_infos[task.id]['duration'] %> <%= 'minute'.pluralize(@task_infos[task.id]['duration']) %></td>
              <td class="text-center"><%= task.status %></td>
              <% if current_page?(controller: 'tasks', action: 'index')%>
                <td class="text-center"><%= @task_infos[task.id]['last_update'] %></td>
              <% end %>
              
              <% if @current_user.role == 'Manager' %>
              <td><h5 class='pull-right'><%= link_to 'Destroy Task', [task.project, task],
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %></h5></td>
              <% end %>
        
              <% if @current_user.role != "Client" && @current_user.id == task.assigned_user%>
              <td style="word-wrap: break-word; width: 120px;"><div class="row pull-right">
                <div class="col-md-4" >
                  <%= button_to tasks_start_task_path(:task => task), {:class => 'btn btn-md btn-success', :disabled => task.status == 'Started' || task.status == 'Finished'} do%>
                  <i class="glyphicon glyphicon-play"></i>
                  <% end %>
                </div>

                <div class="col-md-4" >
                  <%= button_to tasks_pause_task_path(:task => task), {:class => 'btn btn-md btn-warning', :disabled => task.status == "Paused" || task.status == 'Finished' || task.status == 'Not-started'} do%>
                  <i class="glyphicon glyphicon-pause"></i>
                  <% end %>
                </div>

                <div class="col-md-4" >
                  <%= button_to tasks_finish_task_path(:task => task), {:class => 'btn btn-md btn-danger',  :disabled => task.status == 'Finished' || task.status == 'Not-started'} do%>
                  <i class="glyphicon glyphicon-stop"></i>
                  <% end %>
                </div>
              </div>
            </td>
            <td></td>
            <% end %>

          </tr>
         <% end %>
      </tbody>
    </table>
    </div>

</div>