<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid darkgreen; box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);  border-radius: 7px; min-width: 850px;">
  <div class="panel-heading" style='border-bottom: 1px solid darkgreen; background-image: url(<%= asset_path 'table_head.jpg' %>); background-size: cover; background-repeat: no-repeat;'>
    <center><h3 data-toggle="tooltip" title="<%= 'Total: ' + @lengths['tasks'].to_s + ' task'.pluralize(@lengths['tasks']) %>"><font color='white'> Task information </font></h3>
      <% if current_page?(controller: 'dashboards', action: 'index')%>
        <%= link_to '(View all tasks)',{ :controller => 'tasks', :action => 'index'}, :style => 'color: #d2efeb;' %></center>
      <% end %>
      <% if current_page?(controller: 'dashboards', action: 'index') && (@role.permissions[1].to_i / 2) % 2 == 1%>
      <div class='row'>
        <div class="dropdown pull-right">
            <button data-toggle="dropdown" class="ourButton dropdown-toggle" style='margin-right: 10px;'><i class="glyphicon glyphicon-plus ourButton-addon">Projects<b class="caret"></b></i></button>
            <ul class="dropdown-menu">
                <% @projects.each do |project| %>
                  <li><%= link_to project.title, :controller => 'tasks', :action => 'add_task', :id => project.id %></li>
                <% end %>
            </ul>
        </div>
      </div>  
      <% end %>
      <div class='row'>
        <h5 class='pull-left' style='margin-left:20px; background-color: #4e846c; border: 1px solid black; border-radius: 5px;'><a href="#advancedSearch" style='color: white; margin: 5px 7px 7px 5px;' data-toggle="modal">Advanced search<b class="caret"></b></a></h5>
      </div> 
      <% if @advanced_search %>
      <font color='white'>
        <div class='row'>
          <div class='col-xs-2'>
            <h4>Filter:</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-2'>
            <h5>Keywords: 
            <% if @advanced_search.keywords%>
              <%= @advanced_search.keywords %>
            <% end %></h5>
          </div>

          <div class='col-xs-1'>
            <h5>Project:
            <% if @advanced_search.project_id %>
              <%= Project.find(@advanced_search.project_id).title %>
            <% end %></h5>
          </div>

          <div class='col-xs-2'>
            <h5>Assigned User: 
            <% if @advanced_search.assigned_user_id %>
              <%= User.find(@advanced_search.assigned_user_id).username %>
            <% end %></h5>
          </div>

          <div class='col-xs-1'>
            <h5>Type:
            <% if @advanced_search.mode %>
              <%= @advanced_search.mode %>
            <% end %></h5>
          </div>

          <div class='col-xs-1'>
            <h5>Status:
            <% if @advanced_search.status %>
              <%= @advanced_search.status %>
            <% end %></h5>
          </div>

          <div class='col-xs-2'>
            <h5>From: 
            <% if @advanced_search.from %>
              <%= @advanced_search.from %>
            <% end %></h5>
          </div>

          <div class='col-xs-2'>
            <h5>To: 
            <% if @advanced_search.to %>
              <%= @advanced_search.to %>
            <% end %></h5>
          </div>
        </div>
        <div class='row'>
          <%= link_to 'Clear Filter', tasks_path, :class => 'pull-left btn btn-xs btn-success', :style => 'margin-left: 10px;' %>
        </div>
      <% end %>
    </font>
  </div>
  
  <div class='container' style='width: 100%;'>
    <div class='row' style="background-color: #55b25d;" align='center'>
      <div class='col-xs-2'><h4>Title</h4></div>
      <% if current_page?(controller: 'tasks', action: 'index')%>
        <div class='col-xs-2'><h4>Requirement</h4></div>
      <% end %>
      <div class='col-xs-1'><h4>Assigned User</h4></div>
      <div class='col-xs-1'><h4>Project</h4></div>
      <div class='col-xs-1'><h4>Type</h4></div>
      <div class='col-xs-1'><h4>Status</h4></div>
      <div class='col-xs-1'><h4>Milestone</h4></div>
      <% if @current_user.role == 'Employee' %>
        <div class='col-xs-3'></div>
      <% end %>
    </div>

    <% if !@tasks || @tasks.length == 0 %>
      <div class='row' align='center'>
        <h1>No tasks available!</h1>
      </div>
    <% else %>
      <% @label = '' %>
      <% @tasks.each do |task| %>
        <div class='row' style='background-color: #eaeaea;'><b>
          <% if @label != task.status %>
              <%= task.status %>
              <% @label = task.status %>
          <% end %>
        </b></div>

        <div class='row' style='background-color: <% if @label == 'Started'%>#c9ffd2<% end %>
                    <% if @label == 'Not-started'%>#c9f0ff<% end %>
                    <% if @label == 'Paused'%>#ffffc9<% end %>
                    <% if @label == 'Finished'%>#ffc9c9<% end %>; border-bottom: 1px solid #e0e0e0;' align='center'>
          <div class='col-xs-2'><h5><%= task.title %></h5></div>
          <% if current_page?(controller: 'tasks', action: 'index')%>
            <div class='col-xs-2'><h5><%= task.requirement %></h5></div>
          <% end %>
          <div class='col-xs-1'><h5><% if @task_infos[task.id]['assigned']%> <%= link_to @task_infos[task.id]['assigned'].username, users_profile_path(:id => @task_infos[task.id]['assigned'].id)%>  <% end %></h5></div>
          <div class='col-xs-1'><h5><%= @task_infos[task.id]['project_name'] %></h5></div>
          <div class='col-xs-1'><h5><%= task.task_type %></h5></div>
          <div class='col-xs-1'><h5><%= task.status %></h5></div>
          <div class='col-xs-1'><h5><% if task.milestone_id %>
            <% milestone = Milestone.find(task.milestone_id) %>
            <%= milestone.name %><% if milestone.due_date < Time.now && task.status != 'Finished' %><i style='color: red;' class='glyphicon glyphicon-exclamation-sign'></i><% end %>
            <% else %>
            -
            <% end %>
          </h5></div>
          <% if (@role.permissions[1].to_i / 2) % 2 == 1 %>
            <div class='col-xs-3'>
            <h5 class='pull-right'><%= link_to 'Show', task_path(task) %> | 
              <%= link_to 'Edit', edit_task_path(task) %> | 
              <%= link_to 'Destroy Task', [task.project, task],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></h5>
            </div>
          <% end %>
          <% if @role.permissions[1].to_i > 0 && @role.permissions[1].to_i % 2 == 0 && (@role.permissions[1].to_i / 2) % 2 != 1%>
            <div class='col-xs-3'>
            <h5 class='pull-right'><%= link_to 'Show', task_path(task) %></h5>
            </div>
          <% end %>
          <% if @role.permissions[1].to_i % 2 == 1 %>
            <div class='col-xs-3'>
              <div class='row' style="white-space: nowrap">
                <div class='col-xs-3'>
                  <h5><%= link_to 'Show', task_path(task) %></h5>
                </div>
                <div class='col-xs-3'>
                  <%= button_to tasks_start_task_path(:task => task), {:class => 'btn btn-md btn-success', :disabled => (@work_day && @work_day.status != 'Started') || !@work_day || task.status == 'Started' || task.status == 'Finished' } do%>
                   <i class="glyphicon glyphicon-play"></i>
                   <% end %>
                </div>
                <div class='col-xs-3'>
                  <%= button_to tasks_pause_task_path(:task => task), {:class => 'btn btn-md btn-warning', :disabled => task.status == 'Paused' || task.status == 'Finished' || task.status == 'Not-started'} do%>
                  <i class="glyphicon glyphicon-pause"></i>
                  <% end %>
                </div>
                <div class='col-xs-3'>
                  <%= button_to tasks_finish_task_path(:task => task), {:class => 'btn btn-md btn-danger',  :disabled => task.status == 'Finished' || !@work_day || task.status == 'Not-started'} do%>
                  <i class="glyphicon glyphicon-stop"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="advancedSearch" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Advanced Search</h4>
      </div>
      <div class="modal-body" align='center'>
        <%= form_for AdvancedSearch.new do |f| %>
            <div class="field">
              <%= f.label :keywords %><br />
              <% if @advanced_search %>
                <%= f.text_field :keywords, :value => @advanced_search.keywords %>
              <% else %>
                <%= f.text_field :keywords %>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :project_id %><br />
              <% if @advanced_search %>
                <%= f.collection_select :project_id, Project.where(:company_id => @company.id).order(:title), :id, :title, include_blank: true , :selected => @advanced_search.project_id %>
              <% else %>
                <%= f.collection_select :project_id, Project.where(:company_id => @company.id).order(:title), :id, :title, include_blank: true %>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :assigned_user_id %><br />
              <% if @advanced_search %>
                <%= f.collection_select :assigned_user_id, User.where(:company_id => @company.id).order(:username), :id, :username, include_blank: true , :selected => @advanced_search.assigned_user_id%>
              <% else %>
                <%= f.collection_select :assigned_user_id, User.where(:company_id => @company.id).order(:username), :id, :username, include_blank: true %>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :mode %><br />
              <% if @advanced_search %>
                <%= f.select(:mode, %w{ Bug Feature }, :include_blank => true, :selected => @advanced_search.mode) %>
              <% else %>
                <%= f.select(:mode, %w{ Bug Feature }, :include_blank => true) %>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :status %><br />
              <% if @advanced_search %>
                <%= f.select(:status, %w{ Not-started Started Paused Finished }, :include_blank => true, :selected => @advanced_search.status) %>
              <% else %>
                <%= f.select(:status, %w{ Not-started Started Paused Finished }, :include_blank => true) %>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :from, "Interval" %><br />
              <% if @advanced_search %>
                <%= f.text_field :from, :class => 'datepicker', size: 10, :value => @advanced_search.from %>
                <%= f.text_field :to,  :class => 'datepicker', size: 10, :value => @advanced_search.to %>
              <% else %>
                <%= f.text_field :from, :class => 'datepicker', size: 10 %>
                <%= f.text_field :to,  :class => 'datepicker', size: 10 %>
              <% end %>
            </div>

            <%= button_tag(type: "submit", class: "btn btn-success") do %>
                <i class="glyphicon glyphicon-save">Submit</i>
            <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
      $('#advanced_search_from').datepicker();
      $('#advanced_search_to').datepicker();
  });
</script>