<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid lightgrey; min-width: 850px;">
  <div class="panel-heading">
    <center><h3 data-toggle="tooltip" title="<%= 'Total: ' + @lengths['tasks'].to_s + ' task'.pluralize(@lengths['tasks']) %>"> Task information </h3>
      <% if current_page?(controller: 'dashboards', action: 'index')%>
        <%= link_to '(view all tasks)',{ :controller => 'tasks', :action => 'index'} %></center>
      <% end %>
      <% if current_page?(controller: 'dashboards', action: 'index') && @current_user.role == 'Manager'%>
      <div class='row'>
        <div class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle" style='margin-right: 10px;'><i class="glyphicon glyphicon-plus"></i>Add new task to project<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <% @projects.each do |project| %>
                  <li><%= link_to project.title, :controller => 'tasks', :action => 'add_task', :id => project.id %></li>
                <% end %>
            </ul>
        </div>
      </div>  
      <% end %>
      <% if current_page?(controller: 'tasks', action: 'index') %>
        <div class='row'>
          <div class='col-xs-2'>
            <%= form_tag :action => 'search' do%>
              <div class="input-group">
                <%= text_field_tag 'search', nil, placeholder: 'Search term...' %>
  
                <span class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn btn-md btn-default") do %>
                      <i class="glyphicon glyphicon-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  
   <div class='container' style='width: 100%;'>
    <div class='row' style="background-color: #55b25d;" align='center'>
      <div class='col-xs-2'><h4>Title</h4></div>
      <% if current_page?(controller: 'tasks', action: 'index')%>
        <div class='col-xs-3'><h4>Requirement</h4></div>
      <% end %>
      <div class='col-xs-1'><h4>Client</h4></div>
      <div class='col-xs-1'><h4>Assigned User</h4></div>
      <div class='col-xs-1'><h4>Project</h4></div>
      <div class='col-xs-1'><h4>Type</h4></div>
      <div class='col-xs-1'><h4>Status</h4></div>
      <% if @current_user.role == 'Employee' %>
        <div class='col-xs-2'></div>
      <% end %>
    </div>

    <% if @tasks.length == 0 %>
      <div class='row' align='center'>
        <h1>No tasks available!</h1>
      </div>
    <% end %>

    <% @label = '' %>
    <% @tasks.each do |task| %>
      <div class='row' style='background-color: #eaeaea;'><b>
        <% if @label != task.status %>
            <%= task.status %>
            <% @label = task.status %>
        <% end %>
      </b></div>

      <div class='row' style='background-color: <% if @label == 'Started'%>#c9ffd2<% end %>
                    <% if @label == 'Not-started'%>#c9f0ff<% end %>
                    <% if @label == 'Paused'%>#ffffc9<% end %>
                    <% if @label == 'Finished'%>#ffc9c9<% end %>; border-bottom: 1px solid #e0e0e0;' align='center'>
        <div class='col-xs-2'><h5><%= task.title %></h5></div>
        <% if current_page?(controller: 'tasks', action: 'index')%>
          <div class='col-xs-3'><h5><%= task.requirement %></h5></div>
        <% end %>
        <div class='col-xs-1'><h5><%= @task_infos[task.id]['client_name'] %></h5></div>
        <div class='col-xs-1'><h5><%= @task_infos[task.id]['assigned'] %></h5></div>
        <div class='col-xs-1'><h5><%= @task_infos[task.id]['project_name'] %></h5></div>
        <div class='col-xs-1'><h5><%= task.task_type %></h5></div>
        <div class='col-xs-1'><h5><%= task.status %></h5></div>
        <% if @current_user.role == 'Manager' %>
        <div class='col-xs-2'>
          <h5 class='pull-right'><%= link_to 'Destroy Task', [task.project, task],
            method: :delete,
            data: { confirm: 'Are you sure?' } %></h5>
          </div>
        <% end %>
        <% if @current_user.role == 'Employee' %>
          <div class='col-xs-2'>
            <div class='row'>
              <div class="col-md-4" >
                  <%= button_to tasks_start_task_path(:task => task), {:class => 'btn btn-md btn-success', :disabled => task.status == 'Started' || task.status == 'Finished'} do%>
                  <i class="glyphicon glyphicon-play"></i>
                  <% end %>
                </div>

                <div class="col-md-4" >
                  <%= button_to tasks_pause_task_path(:task => task), {:class => 'btn btn-md btn-warning', :disabled => task.status == "Paused" || task.status == 'Finished' || task.status == 'Not-started'} do%>
                  <i class="glyphicon glyphicon-pause"></i>
                  <% end %>
                </div>

                <div class="col-md-4" >
                  <%= button_to tasks_finish_task_path(:task => task), {:class => 'btn btn-md btn-danger',  :disabled => task.status == 'Finished' || task.status == 'Not-started'} do%>
                  <i class="glyphicon glyphicon-stop"></i>
                  <% end %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_page?(controller: 'tasks', action: 'index')%>
    <center><%= will_paginate @tasks_finish_task_path %><center>
  <% end %>

  <p><%= link_to "Advanced Search", new_advanced_search_path %></p>

</div>


<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
</script>