<%= form_for([@project, @project.tasks.build]) do |f| %>
  <p>
    <center><%= f.label :title %><br>
    <%= f.text_field :title %></center>
  </p>
  <p>
    <center><%= f.label :requirement %><br>
    <%= f.text_area :requirement %></center>
  </p>
  <p>
    <center><%= f.submit %></center>
  </p>
<% end %>
