<div class='container'>
	<div class='row'>
		<div class='col-xs-7'>
			<div class='row'>
				<div class='col-xs-12'>
					<% if flash[:notice] %>
						<div class='row'>
							<div class="alert alert-warning">
							    <font color="red"><div class="notice"><%= flash[:notice] %></div></font>
							</div>
						</div>
					<% end %>

					<div class='row'>
						<div class="col-xs-12" style="min-width: 400px;"><br>
						  	<div class="panel panel-success" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen;margin: 1cm 0cm 1cm 0cm;">
							<div class="panel-heading" style='background-image: url(<%= asset_path 'add_panel.jpg' %>); background-size: cover; background-repeat: no-repeat; border-bottom: 1px solid darkblue;'>
						      <center><h2><font color='white'>Task(<%= @task.title %>)</font></h1></center>
						    </div>

						    <div class="panel-body" style='background-color: <% if @task.status == 'Started'%>#c9ffd2<% end %>
					                    <% if @task.status == 'Not-started'%>#c9f0ff<% end %>
					                    <% if @task.status == 'Paused'%>#ffffc9<% end %>
					                    <% if @task.status == 'Finished'%>#ffc9c9<% end %>;'>
								<h4>
									<strong>Title:</strong><br>
									<center><%= @task.title %></center>
								</h4>

								<h4>
									<strong>Requirement:</strong>
									<center><%= @task.requirement %></center>
								</h4>

								<h4>
									<strong>Assigned User:</strong>
									<center><% if @assigned_user %><%= link_to @assigned_user.username, users_profile_path(:id => @assigned_user.id)%><% else %>-<% end %></center>
								</h4>

								<h4>
									<strong>Status:</strong>
									<center><%= @task.status %></center>
								</h4>

								<h4>
									<strong>Type:</strong>
									<center><%= @task.task_type %></center>
								</h4>
							</div>
						  </div>
						</div>
					</div>

				</div>
			</div>

			<div class='row'>
				<div class='col-xs-12'>
					<%= link_to "<button class='backButton'><i class='glyphicon glyphicon-chevron-left backButton-addon'>Back</i></button>".html_safe, url_for(:back)%>
				</div>
			</div>
		</div>

		<div class='col-xs-5' style='min-width: 450px; margin-bottom: 58px; '>
			<div class='row'>
				<div class='col-xs-12' style="background: #f4f7ef; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen; margin-top: 58px; min-height: 377px;">
					<div class='row'>
						<%= render '/comments/form', :@reply_to => nil %>
					</div>
					<div class='comments-holder'>
						<% @task.comments.each do |comment| %>
							<% if comment.user_id && !comment.reply_to %> <%= render 'comment_show', :@comment => comment %> <% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>