<center><div class="panel panel-default">
	<%= form_for @user do |f| %>
		<div class="panel-body">
			<h4>
				<%= f.label "Username" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				<%= f.text_field :username %>
			</h4>

			<h4>
				<%= f.label "Password" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<%= f.password_field :password %>
			</h4>

			<h4>
				<%= f.label "Password Confirmation" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<%= f.password_field :password_confirmation %>
			</h4>

			<h4>
				<%= f.label "Email" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
				<%= f.text_field :email %>
			</h4>

			<h4>
				
				<%= f.hidden_field :company_id, :value => @company.id %>
			</h4>

			<h4>
				<%= f.label "Role" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
				<%= f.select( :role_id, options_from_collection_for_select(@roles, "id", "role_name") ) %>
			</h4>
		</div>

		<div class="panel-footer clearfix ">
				<button type="submit" class="btn btn-lg btn-primary btn-block">
					<i class="glyphicon glyphicon-save"></i> Save
				</button>
			</div>
	<% end %>

	<% if @user.errors.any? %>
	    <div class="alert alert-warning" class="Signup_Errors">
	    <% for message_error in @user.errors.full_messages %>
	      <font color="red"><div class="notice"><li><%= message_error %></li></div></font>
	    <% end %>
	    </div>
	<% end %>
</div>

<script type="text/javascript">
	$( "#user_role_id" ).change(function() {
		var id = $('#user_role_id option:selected').val();
	});
</script>