<center>
	<div class="panel panel-default">
	<%= form_for @user do |f| %>
		<div class="panel-body">
			<h4>
				<%= f.label "Username" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				<%= f.text_field :username %>
			</h4>

			<h4>
				<%= f.label "Password" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<%= f.password_field :password %>
			</h4>

			<h4>
				<%= f.label "Password Confirmation" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<%= f.password_field :password_confirmation %>
			</h4>

			<h4>
				<%= f.label "Email" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
				<%= f.text_field :email %>
			</h4>

			<h4>
				
				<%= f.hidden_field :company_id, :value => @company.id %>
			</h4>

			<h4>
				<%= f.label "Role" %><br>
				<span class="form-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
				<% if !@user.role_id %>
					<%= f.select( :role_id, options_from_collection_for_select(@roles, "id", "role_name") ) %>
				<% else %>
					<%= f.select( :role_id, options_from_collection_for_select(@roles, "id", "role_name", @user.role_id) ) %>
				<% end %>
			</h4>
			<div id='extra_div'></div>
		</div>

		<div class="panel-footer clearfix ">
				<button type="submit" class="btn btn-lg btn-primary btn-block">
					<i class="glyphicon glyphicon-save"></i> Save
				</button>
			</div>
	<% end %>

	<% if @user.errors.any? %>
	    <div class="alert alert-warning" class="Signup_Errors">
	    <% for message_error in @user.errors.full_messages %>
	      <font color="red"><div class="notice"><li><%= message_error %></li></div></font>
	    <% end %>
	    </div>
	<% end %>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		document.getElementById('extra_div').innerHTML = '';
		var user_id = $('#user_user_id').val();
	    var id = $('#user_role_id').val();
	    $.getJSON('get_user_fields',{ user_id: user_id, role_id: id}, function(data) {
	    	var role_fields = data.role_fields;
	    	var field_values = data.field_values;
	    	if( role_fields.length > 0){
	    		var newDiv = document.createElement('div');
		    	var html = '<hr>';
		    	for(var i = 0; i < role_fields.length; ++i){
		    		html+='<h4><b>' + capitalize(role_fields[i].name) + '</b><h4>';
		    		switch(role_fields[i].field_type){
		    			case 'string':
		    				html += '<input type="text" id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    			break;
		    			case 'date':
		    				html += '<input type="date" id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    			break;
		    			case 'integer':
		    				html += '<input type="text" id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    			break;
		    			case 'dropdown':
		    				html += '<select id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    				var options = JSON.parse(role_fields[i].values);
		    				for(var j = 0; j < options.len; ++j){
		    					html += '<option>' + options.values[j] + '</options>';
		    				}
		    				html += '</select>';
		    			break;
		    		}
		    	}
	    	}
	    	newDiv.innerHTML = html;
			document.getElementById('extra_div').appendChild(newDiv);
			for(var i = 0; i < field_values.length; ++i){
				$('#user_' + capitalize(field_values[i].name)).val(field_values[i].value);
			}
		});
	});

	$( "#user_role_id" ).change(function() {
		document.getElementById('extra_div').innerHTML = '';
		var user_id = $('#user_user_id').val();
	    var id = $('#user_role_id').val();
	    $.getJSON('get_user_fields',{ user_id: user_id, role_id: id}, function(data) {
	    	var role_fields = data.role_fields;
	    	var field_values = data.field_values;
	    	if( role_fields.length > 0){
	    		var newDiv = document.createElement('div');
		    	var html = '<hr>';
		    	for(var i = 0; i < role_fields.length; ++i){
		    		html+='<h4><b>' + capitalize(role_fields[i].name) + '</b><h4>';
		    		switch(role_fields[i].field_type){
		    			case 'string':
		    				html += '<input type="text" id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    			break;
		    			case 'date':
		    				html += '<input type="date" id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    			break;
		    			case 'integer':
		    				html += '<input type="text" id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    			break;
		    			case 'dropdown':
		    				html += '<select id="user_' + role_fields[i].name + '" name="user[' + role_fields[i].name + ']">';
		    				var options = JSON.parse(role_fields[i].values);
		    				for(var j = 0; j < options.len; ++j){
		    					html += '<option>' + options.values[j] + '</options>';
		    				}
		    				html += '</select>';
		    			break;
		    		}
		    	}
	    	}
	    	newDiv.innerHTML = html;
			document.getElementById('extra_div').appendChild(newDiv);
			for(var i = 0; i < field_values.length; ++i){
				$('#user_' + capitalize(field_values[i].name)).val(field_values[i].value);
			}
		});
	});
</script>