<div class="panel panel-success"  style="background: white; border: 2px solid lightgrey; border-radius: 5px;margin: 1cm 0cm 1cm 0cm;">
  <div class="panel-heading">
    <center><h3> Users </h3>
    <% if current_page?(controller: 'dashboards', action: 'index') %>
      <%= link_to '(view all users)',{ :controller => 'users', :action => 'index'} %>
    <div class='row'>
      <%= button_to users_index_path, {:class => 'btn btn-md btn-success pull-right'} do%>
          <i class='glyphicon glyphicon-plus'>Add</i>
          <% end %>
    </div>
    <% end %></center>
  </div>
  <div class='table-responsive'>
    <table class="table table-striped table-responsive">
      <thead>  
        <tr bgcolor="#55b25d">
          <th class="text-center">Username</th>
          <th class="text-center">Role</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @label = '' %>
        <% @users.each do |user| %>
          <% if @label != user.role %>
          <thead class="thead-default">
            <tr>
              <th><%= user.role %></th>
              <% @label = user.role %>
            </tr>
          </thead>
          <% end %>
          <tr class=<% if user.role == 'Admin'%>'success'<% end %>
                    <% if user.role == 'Manager'%>'info'<% end %>
                    <% if user.role == 'Employee'%>'warning'<% end %>
                    <% if user.role == 'Client'%>'active'<% end %>>
            <td class="text-center"><%= user.username %></td>
            <td class="text-center"><%= user.role %></td>
            <td><%= link_to 'Show', user_path(user) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user_path(user),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>