<div class="container">
	<div class='row'>
		<div class='col-xs-4' style='min-width: 400px;'>
			<div class="panel-center">
				<div class="panel panel-success" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen;margin: 1cm 1cm 1cm 1cm;">
					<div class="panel-heading" style='background-image: url(<%= asset_path 'add_panel.jpg' %>); background-size: cover; background-repeat: no-repeat; border-bottom: 1px solid darkblue;'>
						<center><h3><font color='white'> User information </font></h3></center>
					</div>
					<div class="panel-body">
						<center><h4>
							<strong>Username: </strong><br></br>
							<%= @user.username %>
						</h4></center><br>

						<center><h4>
							<strong>Role: </strong><br></br>
							<%= @user.role %>
						</h4></center><br>

						<center><h4>
							<strong>Email: </strong><br></br>
							<%= @user.email %><br>
						</h4></center><br>
					</div>
				</div>
				<%= link_to "<button class='backButton'><i class='glyphicon glyphicon-chevron-left backButton-addon'>Back</i></button>".html_safe, url_for(:back)%>
			</div>
		</div>
	</div>
</div>

