<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid lightgrey;">
	<div class="panel-heading">
		<center><h3> Project information </h3>
      <% if current_page?(controller: 'dashboards', action: 'index')%>
        <%= link_to '(view all projects)',{ :controller => 'projects', :action => 'index'} %></center>
      <% end %>
      <% if current_page?(controller: 'dashboards', action: 'index') && @current_user.role == 'Manager'%>
      <div class='row'>
        <%= button_to new_project_path, {:class => 'btn btn-md btn-success pull-right'} do%>
          <i class="glyphicon glyphicon-plus">Create new project</i>
          <% end %>
      </div>
      <% end %>
	</div>
   <div class='table-responsive' style=<% if current_page?(:controller => 'dashboards', :action => 'index') %>
      'height: 400px; margin-bottom: 15px; overflow-y: auto; '
    <% else %>
      'height: 500px; margin-bottom: 15px; overflow-y: auto;'
    <% end %>>
    <table class="table table-striped">
      <thead>  
        <tr bgcolor="#55b25d">
          <th class="text-center">Title</th>
          <% if current_page?(controller: 'projects', action: 'index')%>
            <th class="text-center">Text</th>
          <% end %>
          <th class="text-center">Client</th>
          <th class="text-center">Duration</th>
          <th class="text-center">Project Date</th>
          <% if @current_user.role == 'Manager' %>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <% @label = '' %>
      <tbody style=<% if current_page?(:controller => 'dashboards', :action => 'index') %>
            'height: 362px;'
          <% else %>
            'height: 462px;'
          <% end %>>
          <% @projects.each do |project| %>
            <tr>
            <td class="text-center" style="word-wrap: break-word;min-width: 60px;max-width: 60px;"><%= project.title %></td>
            <% if current_page?(controller: 'projects', action: 'index')%>
              <td class="text-center" style="word-wrap: break-word;min-width: 50%;max-width: 50%;"><%= project.text %></td>
            <% end %>
            <td class="text-center" style="word-wrap: break-word;min-width: 60px;max-width: 60px;"><%= @project_infos[project.id]['client_name'] %></td>
            <td class="text-center" style="word-wrap: break-word;min-width: 60px;max-width: 60px;"><%= @project_infos[project.id]['duration'] %> <%= 'minute'.pluralize(@project_infos[project.id]['duration']) %></td>
            <td class="text-center" style="word-wrap: break-word;min-width: 60px;max-width: 60px;"><%= @project_infos[project.id]['created_at'] %></td>
            
            <% if @current_user.role == 'Manager' %>
              <td><%= link_to 'Show', project_path(project) %> |
              <%= link_to 'Edit', edit_project_path(project) %> |
              <%= link_to 'Destroy', project_path(project),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
            <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  
</div>

