<center><div class="panel panel-default">
<%= form_for @project do |f| %>
  
<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <div class="col-md-4 ">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center><h><%= f.label :title %></h></center>
      </div><br>
      <div>
        <center><p><%= f.text_field :title %></p></center>
      </div><br>
    </div>
    <center><p><%= f.submit %></p></center>
    <center><%= link_to 'Back', projects_path %></center>
  </div>
  <div class="col-md-5 ">
    <div class="panel panel-primary">
      <div class="panel-heading">    
        <center><h><%= f.label :text %></h></center>
      </div><br>
      <div>
        <center><%= f.text_area :text %></center>
      </div><br>
    </div>
  </div>
 

<% end %>