<center><div class="panel panel-default">
  <%= form_for @project do |f| %>
    <div class="panel-body">
      <h4>
        <%= f.label :title %><br>
        <span class="form-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
        <%= f.text_field :title %>
      </h4>

      <h4>
        <%= f.label :text %><br>
        <span class="form-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
        <%= f.text_area :text, :style => 'resize: none; width: 280px; height: 150px;' %>
      </h4>

      <label>Client</label><br>
      <span class="glyphicon glyphicon-user"></span>
      <%= select_tag "client", options_from_collection_for_select(@clients, "id", "username") %>
    </div>

    <div class="panel-footer clearfix ">
        <button type="submit" class="btn btn-lg btn-primary btn-block">
          <i class="glyphicon glyphicon-save"></i> Save
        </button>
      </div>
  <% end %>

  <% if @project.errors.any? %>
      <div class="alert alert-warning" class="Signup_Errors">
      <% for message_error in @project.errors.full_messages %>
        <font color="red"><div class="notice"><li><%= message_error %></li></div></font>
      <% end %>
      </div>
  <% end %>
</div>
