<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border: 2px solid darkgreen; border-radius: 7px; min-width: 400px;">
  <div class="panel-heading" style='border-bottom: 1px solid darkgreen; background-image: url(<%= asset_path 'table_head.jpg' %>); background-size: cover; background-repeat: no-repeat;'>
    <center><h3> <font color='white'>Work day information </font></h3></center>
  </div>
  <div class='container' style='width: 100%;'>
    <div class='row' style="background-color: #55b25d;" align='center'>
      <div class='col-xs-3'><h4>User</h4></div>
      <div class='col-xs-2'><h4>Status</h4></div>
      <div class='col-xs-3'><h4>Start time</h4></div>
      <div class='col-xs-2'><h4>Worked time</h4></div>
      <div class='col-xs-2'><h4>Un-end</h4></div>
    </div>

    <% @users.each do |user| %>
        <% @work_day = user.get_work_day %>
        <% if @work_day %>
          <div class='row' style='border-bottom: 1px solid #e0e0e0;' align='center'>
            <div class='col-xs-3'><h5><%= link_to user.username, users_profile_path(:id => user.id)%></h5></div>

            <% if  !@work_day.start_time %>
              <div class='col-xs-2'><h5>Not-working</h5></div>
            <% elsif !@work_day.end_time %>
              <div class='col-xs-2'><h5>Working</h5></div>
            <% else %>
              <div class='col-xs-2'><h5>Ended</h5></div>
            <% end %>
               
            <div class='col-xs-3'><h5><%= @work_day.start_time %></h5></div>

            <% if @work_day.end_time %>
              <div class='col-xs-2'><h5> <%= number_with_precision((@work_day.end_time - @work_day.start_time)/(3600), precision: 2) %>h</h5></div>
            <% elsif @work_day.start_time %>
              <div class='col-xs-2'><h5> On progress </h5></div>
            <% else %>
              <div class='col-xs-2'><h5> Not worked yet </h5></div>
            <% end %>

            <% if @work_day.start_time && @work_day.end_time %>
              <%= link_to work_days_un_end_work_day_path(:user_id => user.id),  method: :post, data: { confirm: 'Un-end this work day?' }, :class => 'btn btn-sm btn-success', :style => 'margin-top: 3px;', :disabled => @work_day.end_time == nil do %>
                  <i class="glyphicon glyphicon-stop"></i>Un-end
              <% end %><br>
            <% end %>
          </div>
        <% else %>
          <div class='row' style='border-bottom: 1px solid #e0e0e0;' align='center'>
            <div class='col-xs-3'><h5><%= link_to user.username, users_profile_path(:id => user.id)%></h5></div>

            <div class='col-xs-9'><h5>Not-worked today yet</h5></div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>