<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>  
            </button>
        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li <% if current_page?(:controller => 'dashboards') %> class='active' <% end %>><%= link_to 'Dashboard', :controller => 'dashboards', :action => 'index' %></li>
                <li <% if current_page?(:controller => 'projects') %> class='active' <% end %>><%= link_to 'Projects', :controller => 'projects', :action => 'index' %></li>
                <li <% if current_page?(:controller => 'tasks') %> class='active' <% end %>><%= link_to 'Tasks', :controller => 'tasks', :action => 'index' %></li>
                <li <% if current_page?(:controller => 'notes') %> class='active' <% end %>><%= link_to 'Notes', :controller => 'notes', :action => 'index' %></li>
                <li <% if current_page?(:controller => 'reports') %> class='active' <% end %>><%= link_to 'Reports', :controller => 'reports'%></li>
                <% if @current_user.role == 'Admin' %>
                    <li <% if current_page?(:controller => 'users') %> class='active' <% end %>><%= link_to 'Users', :controller => 'users', :action => 'index' %></li>
                <% end %>
                <li <% if current_page?(:controller => 'sessions', :action => 'profile') %> class='active' <% end %>><%= link_to 'Profile', :controller => 'sessions', :action => 'profile' %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Hello '+@current_user.username+'!', :controller => 'sessions', :action => 'profile' %></a>
                <li><a>|</a></li>
                <li><%= link_to 'Log Out', :controller => 'sessions', :action => 'logout' %></li>
            </ul>
        </div>
    </div>
</nav>

        