<!DOCTYPE html>
<html>
  <head>
    <title>ArtSoft PM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>
  </head>

  <body <% if current_page?(:controller => 'sessions', :action => 'login') || current_page?(:controller => 'sessions', :action => 'forgot_password')  %>
  			style='background-image: url(<%= asset_path 'login_back.jpg' %>); background-size: 1920px 1080px; background-repeat: no-repeat;'
  		<% else %>
  			style='background-image: url(<%= asset_path 'login_back.jpg' %>); background-size: cover; background-repeat: no-repeat; min-height: 100vh;'
  		<% end %>>
  	<div class="jumbotron" style="background-color: transparent !important;">
	  	<div class="row" >
	  		<% if @current_user != nil %>
	  			<%= render(:partial => 'layouts/header', :formats => [:html])  %>
	  		<% end %>
	  	</div>

	  	<div class="row">
	    	<%= yield %>
		</div>
	</div>
  </body>
</html>
