<!DOCTYPE html>
<html>
  <head>
    <title>ArtSoft PM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #e8f2ef;">
  	<div class="jumbotron" style="background: #e8f2ef;">
	  	<div class="row">
	  		<%= image_tag("logo.png", :class => "pull-left", :style => 'margin: 0px 0px 0px 5px;', :alt => "Logo") %>
	  	</div>

	  	<div class="row">
	  		<% if @current_user != nil %>
	  			<%= render(:partial => 'layouts/header', :formats => [:html])  %>
	  		<% end %>
	  	</div>

	  	<div class="row">
	    	<%= yield %>
		</div>
	</div>
  </body>
</html>
